.main{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.card{
    width:700px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    padding:35px;
    border-radius:25px;
    color:white;
    box-shadow:0 20px 45px rgba(0,0,0,.3);
}

h1{
    text-align:center;
    font-size:36px;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#d1d5db;
    margin-bottom:25px;
}

label{
    display:block;
    margin:18px 0 8px;
    font-weight:600;
}

select,
textarea{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    outline:none;
    font-size:16px;
    background:white;
}

textarea{
    height:180px;
    resize:none;
}

.counter{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    font-weight:bold;
}

.progress{
    width:100%;
    height:12px;
    background:#cbd5e1;
    border-radius:20px;
    overflow:hidden;
    margin-top:15px;
}

.progress-bar{
    height:100%;
    border-radius:20px;
    transition:.4s;
}

button{
    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#06b6d4,#3b82f6);
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

button:disabled{
    background:gray;
    cursor:not-allowed;
    transform:none;
}

.error{
    color:#ff6b6b;
    margin-top:15px;
    text-align:center;
    font-weight:bold;
}

.draftTitle{
    margin-top:35px;
}

.empty{
    text-align:center;
    color:#d1d5db;
    margin-top:15px;
}

.draftCard{
    background:white;
    color:#111827;
    border-radius:15px;
    padding:18px;
    margin-top:18px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.draftCard:hover{
    transform:translateY(-5px);
}

.draftCard h3{
    color:#2563eb;
    margin-bottom:10px;
}

.draftCard p{
    line-height:1.6;
}

.buttons{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.editBtn{
    flex:1;
    background:#0ea5e9;
}

.deleteBtn{
    flex:1;
    background:#ef4444;
}

.editBtn:hover,
.deleteBtn:hover{
    opacity:.9;
}